.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); */
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  .btn {
    text-align: center;
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #e4370c;
    border-radius: 4px;
  }
  .button1:hover {
    background-color: #e4370c;
    color: white;
  }
  .card button:hover {
    opacity: 0.7;
  }
  .txt {
    width: 120%;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }
  