<div class="d-flex">
<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Catagories</h6>

        <!--  Catagories  -->
        <div class="catagories-menu">Productive Resources
            <ul>
                <li><a href="#">Fertilizer Distribution</a></li>
                <li><a href="#">Hydroponic Retail Store</a></li>
                <li><a href="#">Botanical Pesticide</a></li>
                <li><a href="#">Livestock Feed</a></li>
                <li><a href="#">Certified Seed Production</a></li>
                <li><a href="#">Vermicompost Organic Fertilizer</a></li>
            </ul>
        </div>
        <div class="catagories-menu">
            Agricultural Commodities
            <ul>
                <li><a href="#">Farming</a></li>
                <li><a href="#">Dried Flower</a></li>
                <li><a href="#">Organic Farm</a></li>
                <li><a href="#">Poultry Farming</a></li>
                <li><a href="#">Mushroom Farming</a></li>
                <li><a href="#">Snail Farming</a></li>
                <li><a href="#">Sunflower Farming</a></li>
                <li><a href="#">Bee Keeping</a></li>
                <li><a href="#">Fish Farming</a></li>
                <li class="active"><a href="#">Fruits and Vegetables</a></li>
                <li><a href="#">Florist</a></li>
                <li><a href="#">Frozen Chicken</a></li>
                <li><a href="#">Broom</a></li>
                <li><a href="#">Basket Weaving</a></li>
                <li><a href="#">Flour Milling</a></li>
                <li><a href="#">Fruit Juice</a></li>
                <li><a href="#">Groundnut Processing</a></li>
                <li><a href="#">Cashew-nut Processing</a></li>
                <li><a href="#">Egg Farming</a></li>
                <li><a href="#">Shrimp Farming</a></li>
                <li><a href="#">Fish Hatchery</a></li>
                <li><a href="#">Piggery</a></li>
                <li><a href="#">Soya Beans Processing</a></li>
                <li><a href="#">Spice Processing</a></li>
                <li><a href="#">Chicks Hatchery</a></li>
                <li><a href="#">Tuberose Farming</a></li>
                <li><a href="#">Tea Growing</a></li>
                <li><a href="#">Grocery</a></li>
                <li><a href="#">Medicinal Herbs Farming</a></li>
                <li><a href="#">Cactus</a></li>
                <li><a href="#">Dairy Farming</a></li>
                <li><a href="#">Goatery Farming</a></li>
                <li><a href="#">Jatropha Farming</a></li>
                <li><a href="#">Potato Powder</a></li>
                <li><a href="#">Corn Farming</a></li>
                <li><a href="#">Green House Flower</a></li>
                <li><a href="#">Horticulture Crop Farming</a></li>
                <li><a href="#">Potato Chips Production</a></li>
            </ul>
        </div>
        <div class="catagories-menu">Facilitative Services
            <ul>
                <li><a href="#">Landscape architect</a></li>
                <li><a href="#">Soil Testing Lab</a></li>
            </ul>
        </div>
    </div>
</div>
<app-product-area class="amado_product_area section-padding-100"></app-product-area>
</div>