@mixin trans-duration($time) {
    -webkit-transition-duration: $time;
    transition-duration: $time;
}

@mixin flex-wrap($value) {
    -ms-flex-wrap: $value;
      flex-wrap: $value;
}

@mixin flex($value) {
    -webkit-box-flex: 0;
    -ms-flex: $value;
    flex: $value;
}

@mixin display-flex($value) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: $value;
}

@mixin align-items($value) {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
    -ms-grid-row-align: $value;
    align-items: $value;
}

@mixin justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin transition($value) {
    -webkit-transition: $value;
    transition: $value;
}

$breakpoint-xl: 'only screen and (min-width:1200px)';

$breakpoint-lg: 'only screen and (min-width:992px) and (max-width:1199px)';

$breakpoint-md: 'only screen and (min-width:768px) and (max-width:991px)';

$breakpoint-sm: 'only screen and (min-width:576px) and (max-width:767px)';

$breakpoint-xs: 'only screen and (max-width:767px)';

$breakpoint-xs-landscape: 'only screen and (min-width:480px) and (max-width:767px)';

// Heading Color
$heading-color: #242424;

// Text Color
$text-color: #6d6d6d;

// Default Background
// $bg-default: #fbb710;
$bg-default: #ffcf00;

// Gray Background
$bg-gray: #f7f7f7;

// White Color
$white-color: #ffffff;

// Dark Color
// $dark-color: #131212;
$dark-color: #840000;

// Border Color
$border-color: #ebebeb;

// Hover Color
// $hover-color: #fbb710;
$hover-color: #ffcf00;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;

a {
    @include transition(all 500ms ease 0s);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $dark-color;
    font-weight: 400;
    font-size: 12px;
    &:hover,
    &:focus {
        @include transition(all 500ms ease 0s);
        text-decoration: none;
        outline: 0 solid transparent;
        color: $dark-color;
        font-weight: 400;
        font-size: 12px;
    }
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

.main-content-wrapper {
    position: relative;
    z-index: 1;
    @include trans-duration(500ms);
    @include flex-wrap(wrap);
    @media #{$breakpoint-xs} {
        margin-top: 70px;
        z-index: 100;
    }
    .header-area {
        @include trans-duration(500ms);
        position: relative;
        z-index: 1;
        @include flex(0 0 320px);
        width: 320px;
        max-width: 320px;
        background-color: #fff;
        padding: 60px 75px;
        @media #{$breakpoint-md} {
            @include flex(0 0 280px);
            width: 280px;
            max-width: 280px;
            padding: 50px;
        }
        @media #{$breakpoint-xs} {
            @include trans-duration(500ms);
            @include flex(0 0 320px);
            width: 320px;
            max-width: 320px;
            position: fixed;
            z-index: 4000;
            top: 0;
            left: -350px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            display: block;
        }
        &.bp-xs-on {
            left: 0;
        }
        .nav-close {
            @include trans-duration(500ms);
            // width: 40px;
            // height: 40px;
            position: absolute;
            top: 0;
            right: 15px;
            color: red;
            text-align: center;
            color: #fff;
            line-height: 40px;
            font-size: 40px;
            cursor: pointer;
            color: $bg-default;
            display: none;
            @media #{$breakpoint-xs} {
                display: block;
            }
            &:hover {
                color: $dark-color;
            }
        }
        .logo {
            margin-bottom: 100px;
            display: block;
        }
        .amado-nav {
            li {
                a {
                    font-size: 14px;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 1;
                    padding: 20px 0;
                    display: block;
                    line-height: 0.9;
                    color: #131212;
                    font-weight: normal;
                    &::after {
                        @include trans-duration(500ms);
                        width: 30px;
                        height: 3px;
                        position: absolute;
                        top: 50%;
                        margin-top: -1.5px;
                        left: -150px;
                        background-color: $bg-default;
                        z-index: 10;
                        content: '';
                    }
                    &:hover,
                    &:focus {
                        color: $bg-default;
                    }
                }
                &:hover,
                &:focus {
                    a {
                        &::after {
                            left: -75px;
                            @media #{$breakpoint-md} {
                                left: -50px;
                            }
                        }
                    }
                }
                &.active {
                    a {
                        &::after {
                            left: -75px;
                            @media #{$breakpoint-md} {
                                left: -50px;
                            }
                        }
                    }
                }
            }
        }
        .amado-btn-group {
            .amado-btn {
                width: 160px;
                display: block;
            }
        }
        .cart-fav-search {
            a {
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                padding: 15px 0;
                color: #131212;
                line-height: 1;
                .search-nav {
                    padding-bottom: 0;
                }
                span {
                    color: #9e9e9e;
                }
                img {
                    margin-right: 10px;
                }
                &:hover,
                &:focus {
                    color: $bg-default;
                }
            }
        }
        .social-info {
            a {
                color: #b5b5b5;
                display: inline-block;
                i {
                    font-size: 18px;
                }
                &:hover,
                &:focus {
                    color: $bg-default;
                }
            }
            @media #{$breakpoint-xs} {
                margin-bottom: 75px;
            }
        }
    }
    .products-catagories-area {
        @include flex(0 0 calc(100% - 320px));
        width: calc(100% - 320px);
        max-width: calc(100% - 320px);
        @media #{$breakpoint-md} {
            @include flex(0 0 calc(100% - 280px));
            width: calc(100% - 280px);
            max-width: calc(100% - 280px);
        }
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            width: 100%;
            max-width: 100%;
        }
    }
    .shop_sidebar_area {
        position: relative;
        z-index: 1;
        @include flex(0 0 230px);
        width: 230px;
        max-width: 230px;
        background-color: #f5f7fa;
        padding: 100px 40px;
        @media #{$breakpoint-md} {
            @include flex(0 0 180px);
            width: 180px;
            max-width: 180px;
            padding: 100px 15px;
        }
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            width: 100%;
            max-width: 100%;
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
        }
    }
    .amado_product_area {
        position: relative;
        z-index: 1;
        @media #{$breakpoint-xs} {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            padding-top: 50px;
        }
    }
    .cart-table-area {
        position: relative;
        z-index: 1;
        @include flex(0 0 calc(95% - 320px));
        width: calc(95% - 320px);
        max-width: calc(95% - 320px);
        @media #{$breakpoint-lg} {
            @include flex(0 0 calc(100% - 320px));
            width: calc(100% - 320px);
            max-width: calc(100% - 320px);
        }
        @media #{$breakpoint-md} {
            @include flex(0 0 calc(100% - 280px));
            width: calc(100% - 280px);
            max-width: calc(100% - 280px);
        }
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            width: 100%;
            max-width: 100%;
            padding-top: 0;
        }
        .cart-title {
            h2 {
                font-size: 30px;
                margin-bottom: 30px;
                color: #242424;
            }
        }
        table {
            thead {
                width: 100%;
                display: block;
                tr {
                    @include display-flex(flex);
                    width: 100%;
                    height: 40px;
                    background-color: #f5f7fa;
                    th {
                        border-top: none;
                        border-bottom: none;
                        @include flex(0 0 25%);
                        width: 25%;
                        max-width: 25%;
                        font-size: 12px;
                        color: #242424;
                        text-transform: capitalize;
                        font-weight: 400;
                    }
                }
            }
            tbody {
                width: 100%;
                display: block;
                tr {
                    @include display-flex(flex);
                    @include align-items(center);
                    width: 100%;
                    td {
                        border: none;
                        @include flex(0 0 25%);
                        width: 25%;
                        max-width: 25%;
                        h5 {
                            font-size: 16px;
                            color: #252525;
                            @media #{$breakpoint-lg} {
                                font-size: 14px;
                            }
                            @media #{$breakpoint-md} {
                                font-size: 14px;
                            }
                            @media #{$breakpoint-xs} {
                                font-size: 12px;
                            }
                        }
                        .qty-btn {
                            p {
                                margin-bottom: 0;
                                line-height: 40px;
                                height: 40px;
                                padding: 0 15px;
                                background-color: #f5f7fa;
                                color: #242424;
                                font-size: 14px;
                                @media #{$breakpoint-md} {
                                    padding: 0 10px;
                                }
                            }
                            .quantity {
                                position: relative;
                                z-index: 1;
                                input {
                                    text-align: center;
                                    background-color: #f5f7fa;
                                    height: 40px;
                                    width: 60px;
                                    border: none;
                                    -moz-appearance: textfield;
                                    -webkit-appearance: textfield;
                                    appearance: textfield;
                                    color: #242424;
                                    font-size: 14px;
                                    @media #{$breakpoint-md} {
                                        width: 45px;
                                    }
                                }
                                .qty-plus {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    line-height: 40px;
                                    width: 20px;
                                    text-align: center;
                                    height: 40px;
                                    cursor: pointer;
                                    color: #242424;
                                    font-size: 10px;
                                }
                                .qty-minus {
                                    position: absolute;
                                    top: 0;
                                    right: 40px;
                                    line-height: 40px;
                                    width: 20px;
                                    height: 40px;
                                    text-align: center;
                                    cursor: pointer;
                                    color: #242424;
                                    font-size: 10px;
                                    @media #{$breakpoint-md} {
                                        right: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-summary {
            background-color: #f5f7fa;
            margin-top: 118px;
            position: relative;
            z-index: 1;
            padding: 30px 20px;
            h5 {
                font-size: 18px;
                margin-bottom: 0;
            }
            .summary-table {
                margin-top: 30px;
                li {
                    @include display-flex(flex);
                    @include justify-content-between;
                    margin-bottom: 30px;
                    text-transform: capitalize;
                    span {
                        color: #6b6b6b;
                        font-size: 14px;
                    }
                }
            }
            .payment-method {
                label {
                    font-size: 14px;
                    color: #6b6b6b;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .single-product-area {
        position: relative;
        z-index: 1;
        // @include flex(0 0 calc(95% - 320px));
        width: calc(95% - 320px);
        max-width: calc(95% - 320px);
        @media #{$breakpoint-lg} {
            // @include flex(0 0 calc(100% - 320px));
            width: calc(100% - 320px);
            max-width: calc(100% - 320px);
        }
        @media #{$breakpoint-md} {
            // @include flex(0 0 calc(100% - 280px));
            width: calc(100% - 280px);
            max-width: calc(100% - 280px);
        }
        @media #{$breakpoint-xs} {
            // @include flex(0 0 100%);
            width: 100%;
            max-width: 100%;
            padding-top: 0;
        }
        .breadcrumb {
            background-color: transparent;
            .breadcrumb-item {
                font-size: 14px;
                text-transform: uppercase;
                a {
                    color: #242424;
                    font-size: 14px;
                    text-transform: uppercase;
                    &:hover {
                        color: $bg-default;
                    }
                }
            }
            .breadcrumb-item + .breadcrumb-item::before {
                content: ">";
            }
        }
        .single_product_thumb {
            position: relative;
            z-index: 1;
            margin-bottom: 170px;
            .carousel-indicators {
                margin: 0 7.5px;
                bottom: -165px;
                @media #{$breakpoint-lg} {
                    bottom: -105px;
                }
                @media #{$breakpoint-md} {
                    bottom: -105px;
                }
                @media #{$breakpoint-xs} {
                    bottom: -95px;
                }
                li {
                    @include flex(0 0 25%);
                    width: 25%;
                    min-width: 25%;
                    height: 140px;
                    background-position: center center;
                    background-size: cover;
                    border: 2px solid transparent;
                    cursor: pointer;
                    @media #{$breakpoint-lg} {
                        height: 80px;
                    }
                    @media #{$breakpoint-md} {
                        height: 80px;
                    }
                    @media #{$breakpoint-xs} {
                        height: 70px;
                    }
                    &.active {
                        border: 2px solid $bg-default;
                    }
                }
            }
            .carousel-item a {
                cursor: zoom-in;
            }
        }
        .single_product_desc {
            position: relative;
            z-index: 1;
            .product-meta-data {
                .line {
                    width: 80px;
                    height: 3px;
                    background-color: $bg-default;
                    margin-bottom: 15px;
                    display: block;
                }
                .product-price {
                    font-size: 24px;
                    font-weight: 400;
                    color: $bg-default;
                    line-height: 1;
                    margin-bottom: 10px;
                }
                a {
                    display: block;
                    h6 {
                        font-size: 30px;
                        margin-bottom: 5px;
                        @media #{$breakpoint-lg} {
                            font-size: 20px;
                        }
                    }
                }
                .ratings-review {
                    .ratings {
                        i {
                            font-size: 10px;
                            color: $bg-default;
                        }
                    }
                    .review {
                        a {
                            display: inline-block;
                            color: #6b6b6b;
                            font-size: 14px;
                        }
                    }
                }
                .avaibility {
                    margin-bottom: 0;
                    font-size: 12px;
                    color: #6b6b6b;
                    line-height: 1;
                    i {
                        color: #20d34a;
                        font-size: 12px;
                    }
                }
            }
            .short_overview {
                p {
                    line-height: 2.1;
                    color: #6b6b6b;
                }
            }
            .cart {
                p {
                    margin-bottom: 0;
                    line-height: 40px;
                    height: 40px;
                    padding: 0 15px;
                    background-color: #f5f7fa;
                }
                .quantity {
                    position: relative;
                    z-index: 1;
                    input {
                        text-align: center;
                        background-color: #f5f7fa;
                        height: 40px;
                        width: 100px;
                        border: none;
                        -moz-appearance: textfield;
                        -webkit-appearance: textfield;
                        appearance: textfield;
                        color: #959595;
                    }
                    .qty-plus {
                        position: absolute;
                        right: 0;
                        top: 0;
                        line-height: 30px;
                        width: 30px;
                        text-align: center;
                        height: 20px;
                        cursor: pointer;
                        color: #959595;
                    }
                    .qty-minus {
                        position: absolute;
                        top: 21px;
                        right: 0;
                        line-height: 1;
                        width: 30px;
                        height: 25px;
                        text-align: center;
                        cursor: pointer;
                        color: #959595;
                    }
                }
                .amado-btn {
                    width: 310px;
                    height: 80px;
                    line-height: 80px;
                    @media #{$breakpoint-lg} {
                        width: 250px;
                    }
                    @media #{$breakpoint-xs} {
                        width: 280px;
                    }
                }
            }
        }
    }
}
.mobile-nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 3000;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em 2em;
    @include align-items(center);
    @include justify-content-between;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    display: none;
    @media #{$breakpoint-xs} {
        @include display-flex(flex);
    }
    .amado-navbar-brand {
        @include flex(0 0 70px);
        max-width: 70px;
        a {
            display: block;
            max-width: 70px;
        }
    }
    .amado-navbar-toggler {
        cursor: pointer;
        span {
            width: 28px;
            height: 3px;
            background-color: $bg-default;
            display: block;
            margin-bottom: 5px;
            border-radius: 2px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.widget {
    position: relative;
    z-index: 1;
    .widget-title {
        font-size: 16px;
        text-transform: capitalize;
        color: #242424;
    }
    .catagories-menu {
        li {
            a {
                text-transform: capitalize;
                font-size: 16px;
                padding: 15px 0 15px 20px;
                display: block;
                font-weight: 400;
                color: #959595;
                &:hover,
                &:focus {
                    color: $bg-default;
                }
            }
            &.active a {
                color: $bg-default;
            }
        }
    }
    &.price {
        .slider-range-price {
            background-color: #c7d2d8 !important;
            height: 2px;
            border: none;
        }
        .ui-slider-handle {
            background-color: #fff;
            top: -7px;
            width: 18px;
            height: 18px;
            margin: 0;
            border: 2px solid $bg-default;
            border-radius: 50%;
        }
        .ui-slider-range.ui-corner-all.ui-widget-header {
            background-color: $bg-default;
        }
        .ui-slider-horizontal {
            height: 2px;
            background-color: $bg-default;
        }
        .range-price {
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;
            text-transform: uppercase;
            color: #959595;
        }
    }
    &.color {
        .widget-desc ul {
            @include flex-wrap(wrap);
            li {
                @include flex(0 0 25%);
                width: 25%;
                margin-bottom: 15px;
                a {
                    width: 30px;
                    height: 30px;
                    display: block;
                    border-radius: 50%;
                    background-color: $white-color;
                    position: relative;
                    z-index: 1;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
                    &.color1 {
                        background-color: $white-color;
                    }
                    &.color2 {
                        background-color: #969696;
                    }
                    &.color3 {
                        background-color: #030303;
                    }
                    &.color4 {
                        background-color: #0315ff;
                    }
                    &.color5 {
                        background-color: #dc0647;
                    }
                    &.color6 {
                        background-color: #fff56a;
                    }
                    &.color7 {
                        background-color: #f26e51;
                    }
                    &.color8 {
                        background-color: #9a8777;
                    }
                }
            }
        }
    }
    &.brands {
        .form-check {
            margin-bottom: 25px;
            label {
                @include trans-duration(500ms);
                font-size: 16px;
                color: #959595;
                font-weight: 400;
                cursor: pointer;
                &:hover {
                    color: $bg-default;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.product-topbar {
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
    .total-products {
        @media #{$breakpoint-lg} {
            margin-bottom: 30px;
        }
        @media #{$breakpoint-md} {
            margin-bottom: 30px;
        }
        @media #{$breakpoint-xs} {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 15px;
            font-size: 14px;
            color: $heading-color;
            text-transform: uppercase;
        }
        .view {
            a {
                @include flex(0 0 40px);
                width: 40px;
                height: 40px;
                background-color: #131212;
                color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 44px;
                &:first-child {
                    background-color: $bg-default;
                }
            }
        }
    }
    .product-sorting {
        p {
            margin-bottom: 0;
            font-size: 14px;
            height: 40px;
            background-color: #f5f7fa;
            line-height: 40px;
            color: #959595;
            padding-left: 15px;
            @media #{$breakpoint-lg} {
                font-size: 12px;
            }
            @media #{$breakpoint-md} {
                font-size: 12px;
            }
            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
        }
        form {
            select {
                background-color: #f5f7fa;
                border: none;
                height: 40px;
                min-width: 80px;
                @media #{$breakpoint-md} {
                    min-width: 60px;
                }
                option {
                    font-size: 12px;
                    font-weight: 400;
                    color: $heading-color;
                    text-transform: uppercase;
                    background-color: #f5f7fa;
                }
            }
        }
    }
    .nice-select {
        border: none;
        font-size: 14px;
        font-weight: 400;
        height: 40px;
        padding-left: 0;
        line-height: 40px;
        margin: 0;
        background-color: #f5f7fa;
        border-radius: 0;
        text-align: center !important;
        min-width: 100px;
        @media #{$breakpoint-md} {
            min-width: 60px;
            font-size: 12px;
        }
        @media #{$breakpoint-xs} {
            min-width: 60px;
            font-size: 12px;
        }
        .list {
            background-color: #f6f6f6;
            border-radius: 0;
            border: none;
            .option.selected {
                color: $bg-default;
            }
        }
    }
}

.single-product-wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: $white-color;
    .product-img {
        position: relative;
        z-index: 1;
        overflow: hidden;
        img {
            width: 100%;
            @include trans-duration(500ms);
        }
        .hover-img {
            @include trans-duration(500ms);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
        }
    }
    .product-description {
        position: relative;
        z-index: 1;
        margin-top: 25px;
        .product-meta-data {
            .line {
                width: 80px;
                height: 3px;
                background-color: $bg-default;
                margin-bottom: 15px;
                display: block;
            }
            .product-price {
                line-height: 1;
                color: $bg-default;
                font-size: 24px;
                margin-bottom: 10px;
            }
            a {
                display: block;
                h6 {
                    margin-bottom: 0;
                }
            }
        }
        .ratings-cart {
            .ratings {
                i {
                    font-size: 10px;
                    color: $bg-default;
                }
            }
            .cart {
                display: block;
            }
        }
    }
    &:hover {
        .product-img {
            .hover-img {
                opacity: 1;
                visibility: visible;
            }
            .product-favourite a {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}